# Pipeline data
proteomics/data

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rcache

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Figures and tables
comparisons/1_treatment_and_state_vs_parental_summary/Figures
comparisons/1_treatment_and_state_vs_parental_summary/old
comparisons/1_treatment_and_state_vs_parental_summary/Tables
comparisons/2_similarities_across_state/*.txt
comparisons/2_similarities_across_state/*.png
comparisons/3_functional_diffsim_treatments/*.txt
comparisons/3_functional_diffsim_treatments/*.xlsx
comparisons/3_functional_diffsim_treatments/*.pptx
comparisons/3_functional_diffsim_treatments/*.png
comparisons/4_states_combined_functional_diffsim_treatments/rsconnect
comparisons/4_states_combined_functional_diffsim_treatments/*.txt
comparisons/4_states_combined_functional_diffsim_treatments/*.xlsx
comparisons/4.5_exp12_combined_states_combined_functional_diffsim_treatments/rsconnect
comparisons/4.5_exp12_combined_states_combined_functional_diffsim_treatments/*.txt
comparisons/4.5_exp12_combined_states_combined_functional_diffsim_treatments/*.xlsx
comparisons/app_functional_diffsim_shiny/functional_data
comparisons/app_functional_diffsim_shiny/pathway_heatmap_data
comparisons/app_functional_diffsim_shiny/rsconnect

KSTAR/*.txt
KSTAR/backup
KSTAR/MAPPED_DATA
KSTAR/NETWORKS
KSTAR/PRUNED NETWORKS
KSTAR/RESULTS
KSTAR/*.log

# Powerpoints
ppts

*.txt
comparisons/Short summary of analysis so far.pptx
*.png
*.docx
*.csv
*.pdf
*.svg
*.json
*.html
*.rds
/proteomics/analysis
/transcriptomics/analysis
/transcriptomics/only_using_merged_counts
/transcriptomics/analysis
*.gz
proteomics/PCSF_directional_20241029_1-100/100_top_sig/negativelyCorr/allSamples_TFProteinPhospho/PCSF_Chr8_allSamples_TFProteinPhospho_top_100_sig_negativelyCorr.gml
/proteomics/PCSF_directional_20241029_1-100
/proteomics/PCSF_directional_20241105_1-100
/proteomics/PCSF_directional_20240930_5-100
/proteomics/PCSF_directional_20240904_1-100
/proteomics/PCSF_directional_20240820_1-100
/proteomics/PCSF_directional_20240820
/proteomics/PCSF_directional_20240816
*.gml
*.jpeg
*.cys
proteomics/PCSF_TFProteinKinase_2024-12-06_kinasesRenamed/positive/degExp_1/.DS_Store
proteomics/PCSF_TFProteinKinase_2024-12-06_kinasesRenamed/positive/degExp_1/mu_0.001/.DS_Store
proteomics/PCSF_TFProteinKinase_2024-12-06_kinasesRenamed/positive/degExp_2/mu_0.001/.DS_Store
proteomics/.DS_Store
proteomics/study_design/.DS_Store
.DS_Store
*.xlsx
/drugScreens/JH/sklearn-env
*.tsv
*.0
